<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">TORMENTA LITERARIA</a>
    </nav>
    
    <div class="container">
        <div class="col-md-5">
           <div class="card">
               <div class="card-body">
                   <form action="/update/<%= informacion._id %>" method="POST">
                    <div class="form-group">
                        <input type="text" name="titulo" placeholder="Titulo" class="form-control" value="<%= informacion.titulo %>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="autor" placeholder="Autor" class="form-control" value="<%= informacion.autor %>">
                    </div>
                    <div class="form-group">
                        <input type="date" name="publicacion" placeholder="Año de Publicacion" class="form-control" value="<%= informacion.publicacion %>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="paginas" placeholder="Total de páginas" class="form-control" value="<%= informacion.paginas %>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="nacionalidad" placeholder="País de Origen" class="form-control" value="<%= informacion.nacionalidad%>">
                    </div>
                    <button class="btn btn-primary">GUARDAR CAMBIOS</button>
                </form>
               </div>
               <div class="col-md-5">
           </div>
        </div>
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Fecha de Publicacion</th>
                        <th>Total de Páginas</th>
                        <th>País de Origen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < datos.length; i++){  %>
                        <tr>
                            <td><%= i+1  %></td>
                            <td><%= datos[i].titulo  %></td>
                            <td><%= datos[i].autor  %></td>
                            <td><%= datos[i].publicacion  %></td>
                            <td><%= datos[i].paginas  %></td>
                            <td><%= datos[i].nacionalidad  %></td>
                            <td width = "150">
                                <a class="btn btn-primary" href="/del/<%= datos[i].id %>">Eliminar</a>
                                <a class="btn btn-primary" href="/editar/<%= datos[i].id %>">Editar</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>